<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.prmproject.recipeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Views.Admin.AdminDetailUser"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog"/>
        <activity
            android:name=".Views.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Admin.AdminHomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Views.Home.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Views.User.ProfileActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Views.Recipe.DetailRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".Views.Recipe.EditRecipeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Fragment.AddRecipeFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Views.Authenticate.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Authenticate.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Authenticate.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>